.thick-chart .chart-series-line {    
-fx-stroke-width: 0.25px;
-fx-fill: #000000;
}

.root {

  -fx-border-radius: 50px;
  -fx-base: #e8e8e8 ;
  -fx-control-inner-background: derive(-fx-base, 50%);
  -fx-control-inner-background-alt: derive(-fx-control-inner-background,-10%);
  -fx-accent: #8f8f8f;
  -fx-text-inner-color: black;
  -fx-focus-color: #036E83;
  -fx-faint-focus-color: #036E83;  
 }


.pane {
  -fx-background-color: #FFFFFF;
  -fx-border-color: #FFFFFF;
  -fx-background-radius: 0px 20px 20px 0px;
  -fx-border-radius: 0px 20px 20px 0px;
}

.panebottom {
  -fx-background-color: #FFFFFF;
  -fx-border-color: #e8e8e8;;
  -fx-background-radius: 20px 20px 20px 20px;
  -fx-border-radius: 20px 20px 20px 20px;
}

.menu-bar {
  -fx-background-radius: 0, 0;
  -fx-background-color: #e0e0e0;  
}

.button {
  -fx-background-radius: 15px ,15px, 15px, 15px;
  /*-fx-font-size: 14px;*/
}

.choice-box {
  -fx-background-radius: 15px ,15px, 15px, 15px;
}


.tree-table-view {
  -fx-background-color: #e8e8e8;
  -fx-background-insets: 2,0;
  -fx-text-fill: black;
  -fx-background-radius: 0px 0px 20px 20px;
  -fx-border-radius: 0px 0px 20px 20px;

}

.tree-table-row-cell {
  -fx-background-color: #e8e8e8;
  -fx-text-fill: black;
}

.table-column .label {
  -fx-pref-height: 25;
  -fx-background-color: #e0e0e0; 
  
}

.tree-table-cell {
  -fx-text-fill: black;
}

.tree-table-view .arrow {
    -fx-background-color: black;
}


/*
 -fx-control-inner-background: #e6e6e6;
  


  -fx-fill: blue; 
  -fx-text-fill: red;
  -fx-prompt-text-fill: blue;
  -fx-highlight-fill: blue;
  -fx-highlight-text-fill: blue;
  -fx-text-fill: blue;
 

  -fx-accent: #006689;
  -fx-focus-color: #036E83;
  -fx-faint-focus-color: #036E8322;






.text {
  -fx-fill: blue ; 
  -fx-text-fill: blue ;
  -fx-prompt-text-fill: blue ;
  -fx-highlight-fill: blue ;
  -fx-highlight-text-fill: blue ;
  -fx-text-fill: blue;
  -fx-text-background-color: blue ;
  -fx-dark-text-color: navy ;
  -fx-mid-text-color: blue ;
  -fx-light-text-color: skyblue ;
}


  -fx-text-background-color: blue;
  -fx-dark-text-color: navy ;
  -fx-mid-text-color: blue ;
  -fx-light-text-color: skyblue ;
*/
