
.choice-box {
  -fx-background-color: #e8e8e8;
  -fx-mark-color: #ffa200;
 
}

.choice-box .context-menu {    
  -fx-background-color: #e8e8e8;
  -fx-pref-width: 125;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #ffa200;
    
}


.button:pressed {   
  -fx-background-color: #fec158;
  -fx-border-radius: 10px;
  -fx-border-color: white;
  -fx-background-radius: 10px;
}