.chart-series-line{
	-fx-stroke-width: 2px;
}

.default-color0.chart-series-line{-fx-stroke: #39BE5F;}

.default-color0.chart-line-symbol{-fx-background-color: #39BE5F, #ffffff}

.chart-legend {
   -fx-background-color:  transparent;
}
 
.chart-legend-item-symbol{
   -fx-background-radius: 0;
}
 
.chart-legend-item{
    -fx-text-fill: #191970;
}

.axis{
	-fx-minor-tick-length: 0;
}